<div
    class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50 transition-all duration-300"
    [class]="isOpen ? 'cursor-pointer' : 'opacity-0 pointer-events-none'"
>
    <div class="bg-white p-6 rounded-xl shadow-lg w-[90%] max-w-md relative">
        <button
            (click)="close()"
            class="cursor-pointer absolute top-2 right-3 text-gray-500 text-xl hover:text-red-500"
        >
            &times;
        </button>
        <ng-content></ng-content>
    </div>
</div>
