<div
    id="createNoteModal"
    class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50 opacity-0 pointer-events-none transition-all duration-300"
>
    <div class="bg-white p-6 rounded-xl shadow-lg w-[90%] max-w-md relative">
        <a
            href="#"
            class="absolute top-2 right-3 text-gray-500 text-xl hover:text-red-500"
        >
            &times;
        </a>
        <form
            class="flex flex-col gap-3"
            [formGroup]="form"
            (ngSubmit)="submitBirthadayContent($event)"
        >
            <div class="flex justify-center gap-2">
                <input
                    type="color"
                    formControlName="colors"
                    name="colors"
                    id="colorId"
                />
            </div>
            <input
                type="text"
                class="text-2xl font-bold outline-0 placeholder:opacity-50"
                placeholder="Nome do aniversariante"
                required
                formControlName="name"
            />
            <input
                type="text"
                class="text-2xl font-bold outline-0 placeholder:opacity-50"
                formControlName="birthday"
                placeholder="dia-mês"
                required
            />
            <input
                type="text"
                formControlName="notes"
                placeholder="Informações extras"
                class="w-full outline-0 placeholder:opacity-50"
            />
            <button
                class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 cursor-pointer"
                type="submit"
            >
                Lembrar
            </button>
        </form>
    </div>
</div>
