<div
    class="draggable select-none cursor-grab shadow-xl absolute text-white h-40 w-50 p-2"
    [style]="
        'background:' +
        colors +
        '; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);'
    "
>
    <div class="flex items-center justify-center">
        <img
            class="absolute top-0 w-8"
            src="https://cdn.pixabay.com/photo/2013/07/12/14/10/pushpin-147918_1280.png"
            alt=""
        />
    </div>
    <h2 class="text-xl text-center line-clamp-1 pt-2">{{ name }}</h2>
    <h3>{{ birthdayFormat() }}</h3>
    <p class="text-md">{{ anotation }}</p>
    <small class="absolute right-1 bottom-0">{{ formatCreatedDate() }}</small>
</div>
