<div
    class="draggable select-none cursor-grab shadow-xl absolute h-40 w-50 p-2"
    [style]="
        `background: ${colors}; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); color: ${textColor};`
    "
>
    <div class="flex items-center justify-center">
        <ng-content> </ng-content>
    </div>
    <h2 class="text-xl text-center line-clamp-1 pt-2">{{ name }}</h2>
    <h3>{{ birthdayFormat() }}</h3>
    <p class="text-md">{{ anotation }}</p>
    <small class="absolute right-1 bottom-0">{{ formatCreatedDate() }}</small>
</div>
