<div
    id="editablemodal"
    class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50 opacity-0 pointer-events-none transition-all duration-300"
>
    <div class="bg-white p-6 rounded-xl shadow-lg w-[90%] max-w-md relative">
        <a
            href="#"
            class="absolute top-2 right-3 text-gray-500 text-xl hover:text-red-500"
        >
            &times;
        </a>
        @for (item of data; track data.id) {
        <div>
            <p>
                {{ item.name }}
            </p>
        </div>
        }
    </div>
</div>
